/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
}

#con1 {
	text-align: center;
}

#con2 {
	text-align: center;
	margin-top: -20px;
	
}

h2 {
	-webkit-box-reflect: below 0px
	-webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
}

button {
	-webkit-box-reflect: below 0px
	-webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
}

.iframe1 {
	padding-top: 20px;
	padding-bottom: 10px;
}

body {
	background: linear-gradient(to right, #0066FF, white);
}