/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
}

#con1 {
	text-align: center;
	background: linear-gradient(to bottom right, #0066FF, white);
}

#con2 {
	text-align: center;
	background: linear-gradient(to bottom left, #0066FF, white);
}