/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
}

#con1,
#con2 {
	text-align: center;
	background: linear-gradient(to bottom left, #00CC00, white);
}

.part2 {
	background: linear-gradient(to bottom left, #00CC00, white);
}